{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class ='container col-12 d-flex'>
		<input class='m-2' type='text' name = 'minSurface'>
		<input class='m-2' type='text' name = 'manSurface'>
		<input class='m-2' type='text' name = 'minPrice'>
		<input class='m-2' type='text' name = 'maxPrice'>
		<button>Valider</button>
	</div>
	<div class="container mt-3">
		{% if articles|length == 5 %}
			<h4>
				Apercus des biens d’exception disponible</h4>
		{% else %}
			<h4>{{ nbArticle }}
				Biens d’exception disponible
			</h4>

		{% endif %}
		{%  if nbPage is defined and nbPage > 1  %}

			<nav aria-label="Page navigation example">
				<ul class="pagination">
					{% for page in 1 .. nbPage %}

						<li class="page-item">
							{% if currentPage == page %}
								<a class="page-link active" href="{{path('app_articles', {page: page})}}">{{page}}</a>
							{% else %}
								<a class="page-link" href="{{path('app_articles', {page: page})}}">{{page}}</a>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</nav>
		{% endif %}
		<div class="container-fluid p-2 mt-2 d-flex justify-content-center">
			{% if articles %}
				<ul>
					{% for article in articles %}
						<div class="card m-3 container" style="width: 100%%;">
							<div class="row">
								<div class="col-5">
									<img src="https://www.shbarcelona.fr/blog/fr/wp-content/uploads/2016/03/appartement-photo.jpg" width="500px">
								</div>
								<div class="col-7 d-flex align-items-center">
									<div>
										<h3>{{ article.title }}</h3>
										<span class="fst-italic">{{ article.price }}
											•
											{{ article.type }}
											•
											{{ article.surface }}m2</span>
										<p class="fw-light">{{ article.description[:250] }}
											[...]</p>
										<div class="d-flex flex-row-reverse">
											<a href="{{ path('app_article', {'id': article.id}) }}">
												<button class="btn btn-outline-dark">Lire plus</button>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</ul>

			{% else %}
				<h2 class="text-danger">Aucun bien n'existe pour le moment</h2>
			{% endif %}
		</div>
		{%  if nbPage is defined and nbPage > 1  %}


			<nav aria-label="Page navigation example">
				<ul class="pagination">
					{% for page in 1 .. nbPage %}

						{% if currentPage == page %}
							<a class="page-link active" href="{{path('app_articles', {page: page})}}">{{page}}</a>
						{% else %}
							<a class="page-link" href="{{path('app_articles', {page: page})}}">{{page}}</a>
						{% endif %}
					{% endfor %}
				</ul>
			</nav>
		{% endif %}
	</div>
{% endblock %}
