{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container mt-3">
    <div class="container mt-5">
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        <div class="mb-3">
            {{ form_row(registrationForm.email, {
                'attr': {'class': 'form-control'}
            }) }}
        </div>
        <div class="mb-3">
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password',
                'attr': {'class': 'form-control'}
            }) }}
        </div>
        
        <div class="d-flex flex-row-reverse mt-3">
        {# {{ form_row(registrationForm.agreeTerms) }} #}
            <button type="submit" class="btn">Register</button>
        </div>
    {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
{{ form_start(form) }}
{# let date = Date

date. #}

