{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block body %}

<h2>Mes rendez vous</h2>
<div>
	<table>
		<thead>
			<td class = 'ps-4'>Titre</td>
			<td class = 'ps-4'>Date de RDV</td>
		</thead>
		<tbody>
		{% for appointement in appointements %}
		<tr>
			<td class = 'ps-4'>{{appointement.getPossession().getTitle()}}</td>
			<td class = 'ps-4'>{{appointement.date|date("m/d/Y h:i")}}</td>
			<td>
				<button class = 'btn delete-rdv' data-id='{{appointement.id}}' data-url={{path('app_del_appointement')}}>
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
					<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
				</svg></i>
				</button>
			</td>
		</tr>
		{% endfor %}		
		</tbody>
	</table>
</div>
	<div class="d-grid gap-2 m-3">
		<a href="{{path('app_possession_create')}}">
			<button class="btn btn-primary" type="button">Créer un bien</button>
		</a>
	</div>
	<div class="m-2 w-75">
		<ul class="list-group">
			{% for possession in possessions %}
				<div class="possession container">
					<li class="list-group-item d-flex">
						<span class="w-75">
							{{possession.getTitle()}}
						</span>
						<select class="status" data-id={{possession.getId()}} data-url={{path('app_possession_edit_status')}}>
							<option value="1"{% if possession.getStatus() == 1 %} selected {% endif %}>Créer</option>
							<option value="2"{% if possession.getStatus() == 2 %} selected {% endif %}>Disponible</option>
							<option value="3"{% if possession.getStatus() == 3 %} selected {% endif %} >Loué/Vendu</option>
						</select>
						<a class="me-2" href="{{path('app_possession_edit', {id:possession.getId()})}}">
							<button type="button" class="btn btn-primary btn-sm">Edition</button>
						</a>
						<a class="me-2" href="{{path('app_possession_delete', {id:possession.getId()})}}">
							<button type="button" class="btn btn-danger btn-sm">Suppression</button>
						</a>
					</li>
				</div>
			{% endfor %}
		</ul>
	</div>
{% endblock %}

{% block javascripts %}
	
	<script>
		window.onload = function() {
			$(".status").on('change',function(){
				let currentStatus = this.value
				let currentId = $(this).attr('data-id')
				let url = $(this).attr('data-url')

				$.ajax({
					url: url,
					data: {id:currentId, status:currentStatus},
					method: "POST"
				}).done(function (value) {
					console.log(value)
					$(this).addClass("done");
				});
			})
			$(".delete-rdv").on('click',function(){
				let currentId = $(this).attr('data-id')
				let url = $(this).attr('data-url')

				let currentElement = $(this)
				$.ajax({
					url: url,
					data: {id:currentId},
					method: "POST"
				}).done(function (value) {
					console.log(value)
					currentElement.closest('tr').remove()
					$(this).addClass("done");
				});
			})
		}
	</script>
{% endblock %}
