{% block navbar %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<nav class="navbar navbar-expand-lg bg-light">
		<div class="container-fluid" style="justify-content: flex-start;">
			<a href="/" style="margin-right:5px;">
				<img src="https://scontent-cdt1-1.xx.fbcdn.net/v/t39.30808-6/291853546_460359172755978_4391689979260494058_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=nKW3TPnadJcAX9QwuuD&_nc_ht=scontent-cdt1-1.xx&oh=00_AT9W8yv_Euh-Nx1_bCyIKDFHV0ZfVrktgQU6k2E9dKNfhQ&oe=635412EF" width="80px">
			</a>
			{% if app.user is not null %}
				<span>{{app.user.getEmail()}}</span>
			{% endif %}
		</div>
		{% if app.user is not null %}
			<div class="collapse navbar-collapse" id="navbarNav">

				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_articles')}}">Listes des biens</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_admin')}}">Gérer les biens</a>
					</li>
					{% if is_granted('ROLE_ADMIN') %}

						<li class="nav-item">
							<a class="nav-link" href="/register">Inscription</a>
						</li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_logout')}}">Déconnexion</a>
					</li>
				</ul>
			</div>
		{% else %}
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">

					<li class="nav-item">
						<a class="nav-link" href="{{path('app_articles')}}">Listes des biens</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/login">Connexion</a>
					</li>


				</ul>
			</div>
		{% endif %}
	</nav>
{% endblock %}
