{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
<div class="container mt-5">
    <form action="{{ path('app_login') }}" method="post">
        <div class="mb-3">
          <label for="username" class="form-label">Addresse email</label>
          <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Mot de passe</label>
          <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control">
        </div>
        <div class="d-flex flex-row-reverse mt-3">
            <button type="submit" class="btn btn-outline-dark">Se connecter</button>
        <div>
      </form>
</div>
{% endblock %}
