{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}


	<div class="container mt-3">
		<div class="container mt-5">
			<h1>Register</h1>

			{{ form_start(registrationForm) }}
			<div class="mb-3">
				{{ form_row(registrationForm.email) }}
			</div>
			<div class="mb-3">
				{{ form_row(registrationForm.plainPassword) }}
			</div>

			<div
				class="d-flex flex-row-reverse mt-3">
				{# {{ form_row(registrationForm.agreeTerms) }} #}
				<button type="submit" class="btn">Register</button>
			</div>
			{{ form_end(registrationForm) }}
		</div>
	</div>


	{# <div class="container mt-3">
		<div class="container mt-5">

			<form action="{{ path('register') }}" method="post">
				<div class="mb-3">
					<label for="username" class="form-label">Addresse email</label>
					<input type="text" id="username" name="_username" class="form-control">
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Mot de passe</label>
					<input type="text" id="username" name="_username" class="form-control">
				</div>
				<div class="d-flex flex-row-reverse mt-3">
					<button type="submit" class="btn btn-outline-dark">S'inscrire</button>
				</div>
			</form>
		</div>
	</div> #}
{% endblock %}
