{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="container mt-3">
		<div class="d-flex flex-row-reverse">
			<a href="{{path('app_home')}}">
				<button type="button" class="btn btn-outline-dark">Retour</button>
			</a>
		</div>
		<div class="d-flex justify-content-between mt-3">
			<div>
				<h3>{{ article.title }}</h3>
			</div>
			<div>
				<h3>{{ article.price }}
					€ / mois TTC</h3>
			</div>
		</div>
		<div>
			<h5 class="fst-italic">{{ article.type }}
				•
				{{ article.type[1:] - 1 }}
				chambres • Surface de
				{{ article.surface }}m2</h5>
		</div>
		<div class="rdv">
			<label for="meeting-time">Date de prise de rdv</label>

			<input type="datetime-local" id="meeting-time" data-url="{{path('app_save_appointment')}}" data-id-possession="{{article.getId()}}" data-id-agent="{{article.getAgent().getId()}}" name="meeting-time">
            <button type="button" class="rdv-button btn btn-primary">Prendre rendez-vous</button>
		</div>
		<div class="d-flex justify-content-center mt-4">
			<img src="https://www.shbarcelona.fr/blog/fr/wp-content/uploads/2016/03/appartement-photo.jpg" width="700px">
		</div>
		<div class="mt-4">
			<p class="fw-light">{{ article.description }}</p>
		</div>
	</div>


{% endblock %}

{% block javascripts %}
	
	<script>
		window.onload = function() {
			$(".rdv-button").on('click',function(){
				
				let currentId = $("#meeting-time").attr('data-id-possession')
                let agentId = $("#meeting-time").attr('data-id-agent')
				let date = $("#meeting-time").val();
				let url = $("#meeting-time").attr('data-url')
                console.log(date);
                if (date != ''){

                    $.ajax({
                        url: url,
                        data: {id: currentId, date: date, agentId: agentId},
                        method: "POST"
                    }).done(function (value) {
                        alert("Le rendez-vous a bien été pris")
                        $("#meeting-time").attr('disabled',true)
                        $(".rdv-button").attr('disabled',true)
                    });
                }
			})
		}
	</script>
{% endblock %}